.chart-card {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f7f7f7, #e6e6e6);
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden; /* Prevent scrolling */
}

.grey-background {
  background: linear-gradient(135deg, #f7f7f7, #e6e6e6);
}

.chart-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.no-data {
  text-align: center;
  font-size: 14px;
  color: red;
}

.apexcharts-toolbar {
  display: none; /* Hide the zoom toolbar */
}
